@model Lokata.Domain.Category
@{
    ViewData["Title"] = "Usuwanie kategorii";
}

<div class="row">
    <div class="card p-0">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <h3 class="card-title mb-4">
                Czy NA PEWNO chcesz usunąć tą kategorię? Decyzja jest nieodwracalna!!!
            </h3>
            <div class="row">
                <div class="col-12">
                    <div class="row mb-3">
                        <h5>Dane kategorii</h5>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.Id)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.Id)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.CategoryName)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.CategoryName)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.MinAgeInYears)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.MinAgeInYears)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.MaxAgeInYears)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.MaxAgeInYears)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.ForDisabled)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.ForDisabled)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.ForProfessional)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.ForProfessional)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.ForFemale)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.ForFemale)</div>
                    </div>
                    <div class="row">
                        <div class="col-5 fw-bold">@Html.DisplayNameFor(model => model.ForMale)</div>
                        <div class="col-7">@Html.DisplayFor(model => model.ForMale)</div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <form asp-action="Delete">
                        <input asp-for="Id" type="hidden" />
                        <button type="submit" class="btn btn-danger" asp-action="Delete">Usuń</button>
                        <a class="btn btn-secondary" asp-action="Index" asp-route-id="@Model.Id">Anuluj</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>