@model Lokata.Web.Models.SexModels.SexListViewModel


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Startuje w kategoriach męskich</th>
            <th scope="col">Startuje w kategoriach kobiecych</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Sexes.Any())
        {
            foreach (var item in Model.Sexes)
            {
                <tr>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.AsMale)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.AsFemale)</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        }
    else
    {
        <tr>
            <td class="text-center" colspan="6">
                Brak płci
            </td>
        </tr>
    }
    </tbody>
</table>
