@model Lokata.Web.Models.DocumentModel.DocumentListViewModel


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Nazwa pliku</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Documents.Any())
        {
            foreach (var item in Model.Documents)
            {
                <tr>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Id)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Filename)</td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="DownloadFile" asp-route-id="@item.Id">Pobierz plik</a>
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        }
    else
    {
        <tr>
            <td class="text-center" colspan="6">
                Brak dokumentów
            </td>
        </tr>
    }
    </tbody>
</table>
